@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  background-image: url(../assets/space.gif);
}
.btn-group button { 
  background-color: #04AA6D; 
  border: 2px solid green; 
  font-size: 30px;
  font-family: 'Press Start 2P';
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  cursor: pointer;
  display: block;
  width: 70%;
  margin-left: 15%;
}
.btn-group button:hover {
  background-color: #3e8e41;
}
.title {
  color: green;
  -webkit-text-stroke: 2px white;
  font-size: 70px;
  text-align: center;
  font-family: 'Press Start 2P';
}
.creator {
  color: rgb(22, 185, 126);
  font-size: 20px;
  text-align: center;
  font-family: 'Press Start 2P';
}
#player {
  width: 40px;
  /*border: 2px solid red;
  margin: auto;*/
  position: absolute;
}
#game-container {
  height: 100vh;
  width: 100vw;
  display: flex;

  justify-content: center;
  align-items: center;
  position: relative;
  /*border: 2px solid red; */
}
#soon {
  color: green;
  -webkit-text-stroke: 2px white;
  font-size: 70px;
  text-align: center;
  font-family: 'Press Start 2P';
}
#game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#scoreCounter {
  height: 50px;
  min-width: 120px;
  border-radius: 10px;
  /* background-color: rgba(255, 0, 0, 0.187);*/
  color: white;
  margin-top: 20px;
  font-size: 30px;
  font-family: 'Press Start 2P';
  transform: translate(600px, -300px);
}
.GameOverModal {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.modal-content {
  color: #CB4323;
  font-size: 10px;
  text-align: center;
  font-family: 'Press Start 2P';
}
#cancelbutton {
  color: black(1, 1, 96);
  background-color: #CB4323;
  font-family: 'Press Start 2P';
  font-size: 10px;
}
#savebutton {
  color: black(1, 1, 96);
  background-color: #CB4323;
  font-family: 'Press Start 2P';
  font-size: 10px;
}
#name {
  background-color: #CB4323;
  color: black(1, 1, 96);
  font-family: 'Press Start 2P';
  font-size: 10px;
}

